azure-functions
azure-cosmos
google-genai
openai>=1.0.0
pydantic
python-dotenv
pytz
uuid7
aiohttp

numpy
pytest
pytest-asyncio
debugpy

beautifulsoup4
bleach
bleach[css]
tinycss2
markdownify
ar-auth-client @ git+https://github.com/adolf94/ar-oauth2.git#subdirectory=ar-auth-client-python
