azure-functions
azure-cosmos
google-genai
openai>=1.0.0
pydantic
python-dotenv
pytz
uuid7
aiohttp

numpy
pytest
pytest-asyncio
debugpy

beautifulsoup4
bleach
bleach[css]
tinycss2
markdownify
ar-auth-python-client @ https://github.com/adolf94/ar-oauth2/releases/download/1.1.0/ar_auth_python_client-1.1.0.tar.gz
azure-storage-blob
Pillow
